@mixin for-size($size, $width: min) {
  @if $size == screen-sm {
    @media (#{$width}-width: $screen-sm) {
      @content;
    }
  } @else if $size == screen-md {
    @media (#{$width}-width: $screen-md) {
      @content;
    }
  } @else if $size == screen-lg {
    @media (#{$width}-width: $screen-lg) {
      @content;
    }
  } @else if $size == screen-xl {
    @media (#{$width}-width: $screen-xl) {
      @content;
    }
  } @else if $size == screen-grid {
    @media (#{$width}-width: $screen-grid) {
      @content;
    }
  } @else {
    @media (#{$width}-width: $size) {
      @content;
    }
  }
}

@mixin typography(
  $color: inherit,
  $family: "Josefin Sans",
  $size: 1rem,
  $line-height: 1,
  $weight: normal
) {
  color: $color;
  font: {
    family: $family, sans-serif;
    size: $size;
    weight: $weight;
  }
  line-height: $line-height;
}

@mixin hover-underline($width, $bottom) {
  position: relative;
  display: flex;
  justify-content: center;

  &:after {
    content: "";
    position: absolute;
    width: 0;
    bottom: -#{$bottom};
    height: 0.25rem;
    background-color: $white;
    transition: 0.3s ease-in-out;
  }

  &:hover:after {
    width: $width;
  }
}
