@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

@mixin typography(
  $color: inherit,
  $family: "Josefin Sans",
  $size: 1rem,
  $line-height: 1,
  $weight: normal
) {
  color: $color;
  font: {
    family: $family, sans-serif;
    size: $size;
    weight: $weight;
  }
  line-height: $line-height;
}

.text {
  &--small {
    @include typography($size: 1.5rem, $family: "Alata");
    @include for-size(screen-md) {
      font-size: 1.65rem;
    }
  }

  &--regular {
    @include typography($size: 1.5rem, $family: "Alata");
    @include for-size(screen-md) {
      font-size: 1.875rem;
    }
  }

  &--big {
    @include typography($size: 2rem);
    @include for-size(screen-md) {
      font-size: 2.5rem;
    }
  }

  &--copyright {
    @include typography(
      $size: 1.5rem,
      $family: "Alata",
      $color: $very-dark-gray
    );
    @include for-size(screen-md) {
      font-size: 1.525rem;
    }
  }

  &--description {
    @include typography($size: 1.5rem, $line-height: 1.5, $weight: bold);
    @include for-size(screen-md) {
      font-size: 1.725rem;
    }
  }

  &--button {
    @include typography($size: 1.5rem, $line-height: 1.5, $family: "Alata");
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    @include for-size(screen-md) {
      font-size: 1.875rem;
    }
  }

  // Titles
  &--h1 {
    @include typography($size: 4rem);
    text-transform: uppercase;
    @include for-size($screen-md) {
      font-size: 7rem;
    }
  }

  &--h2 {
    @include typography($size: 3rem);
    text-transform: uppercase;
    @include for-size($screen-md) {
      font-size: 5.15rem;
    }
  }

  &--h3 {
    @include typography($size: 2.25rem);
    text-transform: uppercase;
    @include for-size($screen-md) {
      font-size: 3.25rem;
    }
  }

  // Colors
  &--white {
    color: $white;
  }

  &--black {
    color: $black;
  }

  &--dark-gray {
    color: $dark-gray;
  }

  &--very-dark-gray {
    color: $very-dark-gray;
  }
}
