@use "../../../assets/components/styles/index" as *;

.our-creations {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  margin-bottom: 10rem;

  @include for-size(screen-sm) {
    text-align: start;
    display: grid;
    gap: 5rem;
    grid-template-columns: 1fr auto;
  }

  &__title {
    margin-bottom: 2.5rem;
    @include for-size(screen-sm) {
      margin-bottom: 0;
    }
  }

  &__button {
    padding: 1rem 3rem;
    border: 2px solid $black;

    &:hover {
      background: $black;
      color: $white;
    }
  }
}
