@use "../../../assets/components/styles/index" as *;

.our-creations {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  padding-bottom: 10rem;

  @include for-size(screen-sm) {
    text-align: start;
    display: grid;
    gap: 7.5rem;
    grid-template-columns: 1fr auto;
    padding-bottom: 15rem;
  }

  &__title {
    margin-bottom: 2.5rem;

    @include for-size(screen-sm) {
      margin-bottom: 0;
    }
  }

  &__button {
    padding: 1rem 3.75rem;
    border: 1.75px solid $black;
    user-select: none;

    &:hover {
      background: $black;
      color: $white;
    }
  }
}
