@use "../../../assets/components/styles/index" as *;

.header {
  background: {
    image: url("../../../assets/images/mobile/image-hero.jpg");
    size: cover;
    position: right top;
  }
  color: $white;
  padding: 4rem 0;
  font-family: "Josefin Sans", sans-serif;
  position: relative;

  @include for-size(screen-md) {
    padding: {
      top: 7.25rem;
      bottom: 2.5rem;
    }
    background-image: url("../../../assets/images/desktop/image-hero.jpg");
  }

  &__title {
    display: inline-block;
    margin: 16.25rem 0;
    padding: 2.5rem;
    padding-bottom: 1.5rem;
    border: 0.25rem solid $white;
    @include for-size(screen-md) {
      max-width: 64.25rem;
      font-size: 7rem;
      margin-block: 12rem;
      padding: 3.5rem;
      padding-bottom: 2.75rem;
    }
  }
}
