@use "../../../assets/components/styles/index" as *;

.footer {
  background-color: $black;
  color: $white;
  padding-block: 5rem;

  &__grid {
    @include for-size(screen-lg) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__navigation {
    @include for-size(screen-lg) {
      max-width: 50%;
    }
  }

  &__company {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include for-size(screen-lg) {
      align-items: end;
    }
  }

  &__social {
    padding-bottom: 2.75rem;
    display: flex;
    gap: 2rem;
    user-select: none;

    @include for-size(screen-sm) {
      padding-block: 5rem;
    }

    @include for-size(screen-lg) {
      padding: {
        bottom: 2.75rem;
        top: 0;
      }
    }
  }

  &__icon {
    width: 2.75rem;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: -1rem;
      width: 0;
      height: 0.15rem;
      background-color: $white;
      transition: 0.3s ease-in-out;
    }

    &:hover:after {
      width: 100%;
    }
  }

  &__copyright {
    @include typography(
      $size: 1.75rem,
      $family: "Alata",
      $color: $very-dark-gray
    );
    @include for-size(screen-md) {
      font-size: 2rem;
    }
  }
}
