@use "../../../assets/components/styles/index" as *;

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include for-size(screen-sm) {
    gap: 2rem;
  }

  @include for-size(screen-lg) {
    flex-direction: row;
    align-content: space-between;
    height: 100%;
  }

  &__logo {
    height: 2.5rem;
    position: relative;
    z-index: 1;
    user-select: none;

    @include for-size(screen-md) {
      height: 3rem;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    padding-block: 3.5rem;

    @include for-size(screen-sm) {
      padding: 0;
      flex-direction: row;
    }
  }

  &__item {
    @include for-size(screen-md) {
      text-transform: capitalize;
    }

    @include hover-underline($width: 3rem, $bottom: 2rem);
  }

  &__bar {
    display: block;
    width: 2.5rem;
    height: 0.2rem;
    border-radius: 0.031rem;
    transition: all 0.3s ease-in-out;
    background-color: $white;
  }
}

.nav-menu--hamburger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: $spacing-grid;
  top: 0;
  left: 0;
  z-index: 2;

  & .nav-menu__menu {
    position: absolute;
    left: -200%;
    top: 0;
    bottom: 0;
    padding-left: $spacing-grid;
    background-color: $black;
    width: 100vw;
    height: 100vh;
    transition: 0.3s;

    &.active {
      left: 0;
      gap: 0.313rem;
    }

    @include for-size(screen-md) {
      gap: 6.875rem;
    }

    @include for-size(screen-md) {
      position: static;
      background-color: transparent;
      width: auto;
      height: 100%;
    }
  }

  & .nav-menu__items {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 20rem;

    @include for-size(screen-md) {
      margin: 0.75rem;
      flex-direction: row;
    }
  }

  & .active .nav-menu__item {
    text-transform: uppercase;
    font-size: 2rem;
    font-family: inherit;

    @include for-size(screen-md) {
      text-transform: capitalize;
    }
  }

  & .nav-menu__hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;

    @include for-size(screen-md) {
      display: none;
    }

    &.active .nav-menu__bar:nth-child(1) {
      transform: translateY(0.7rem) rotate(45deg);
    }

    &.active .nav-menu__bar:nth-child(2) {
      opacity: 0;
    }

    &.active .nav-menu__bar:nth-child(3) {
      transform: translateY(-0.7rem) rotate(-45deg);
    }
  }
}
