@use "../../../assets/components/styles/index" as *;

.about {
  font-family: 'Josefin Sans', sans-serif;
  
  &__container {
    margin-block: 10rem;

    @include for-size(screen-lg) {
      position: relative;
      display: flex;
    }
  }

  &__image {
    margin-bottom: 5rem;
    display: block;
    
    @include for-size(screen-lg) {
      margin-bottom: 0;
      width: 65%;
      width: 80rem;
    }
  }

  &__text {
    text-align: center;
    max-width: 43ch;
    margin: 0 auto;

    @include for-size(screen-lg) {
      max-width: 55.75rem;
      text-align: left;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      background-color: $white;
      padding: {
        top: 9.5rem;
        left: 9.5rem;
      };
    }
  }

  &__title {
    text-transform: uppercase;
    font: {
      size: 3rem;
      weight: normal;
    };

    @include for-size(screen-lg) {
      font-size: 5.25rem;
    }
  }

  &__description {
    margin-top: 2.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: $dark-gray;
    line-height: 1.5;

    @include for-size(screen-lg) {
      font-size: 1.75rem;
    }
  }
}
