@use "../../../assets/components/styles/index" as *;

.about {
  font-family: "Josefin Sans", sans-serif;

  &__container {
    margin-block: 10rem;

    @include for-size(screen-md) {
      margin-block: 15rem;
      position: relative;
      display: flex;
    }
  }

  &__image {
    display: block;

    @include for-size(screen-md, $width: max) {
      margin-bottom: 5rem;
    }

    @include for-size(screen-md) {
      width: 75rem;
    }
  }

  &__text {
    text-align: center;
    margin: 0 auto;

    @include for-size(screen-sm, $width: max) {
      max-width: 43ch;
    }

    @include for-size(screen-md) {
      width: 57.75rem;
      text-align: left;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      background-color: $white;
      $padding-about: 9.55rem;
      padding: {
        top: $padding-about;
        left: calc($padding-about);
      }
    }
  }

  &__description {
    margin-top: 2.5rem;
  }
}
